.graph-container {
    width: 100%;
    margin: auto;
    display: flex;  
    flex-direction: column ;
    align-items: center;
}

.graph-form-labels {
    display: flex;
    align-items: center;
}

.graph-input {
    height: 2.5em;
    border: solid 1px gray;
    box-sizing: border-box;
    padding: 0.25em;
}

.graph-label {
    box-sizing: border-box;
    padding: 0.25em 0;
    display: flex;
    justify-content: space-between;
}
.graph-label-button {
    border: transparent;
    background: transparent;
    font-weight: bold;
}

.graph-label-button:hover {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

.graph-button {
    height: 2.5em;
    box-sizing: border-box;
    padding: 0.25em;
    border: solid 1px gray;
    background: transparent;
    border-radius: 3px;
}

.graph-button:hover {
    border-color: var(--main-blue);
    color: var(--main-blue);
}

.graph-form-row td {
    border-bottom: 1px solid gray;
    padding: 0.5em;
}

.graph-form-row td:first-child  {
    padding-left: 0;
}

.graph-form-row td:last-child {
    padding-right: 0;
}

.graph-table {
    border-collapse: collapse;

}

.graph-footer {
    padding: 0.5em 0;
    text-align: end;

}

